target/
pom.xml.tag
pom.xml.releaseBackup
pom.versionBackup
pom.xml.next
release.properties
dependency.reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.project
.classpath
*:Zone.Identifier
.vscode
*.log
.DS_Store
